<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>io.github.lianghai.mongolian.keyboards</string>
	<key>CFBundleName</key>
	<string>io.github.lianghai.mongolian</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_ᠮᠣᠩᠭᠣᠯ</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>io.github.lianghai.mongolian.keyboards.ᠮᠣᠩᠭᠣᠯ</string>
		<key>TISIntendedLanguage</key>
		<string>mn-Mong</string>
	</dict>
</dict>
</plist>
