<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>E91C2A68-9D13-40A3-B48F-6510F845363B</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>nirugu</string>
		<string>A.init</string>
		<string>A.medi</string>
		<string>A.fina</string>
		<string>A.isol</string>
		<string>Ah.init</string>
		<string>Ah.medi</string>
		<string>Ah.fina</string>
		<string>Ah.isol</string>
		<string>N.init</string>
		<string>N.medi</string>
		<string>N.fina</string>
		<string>N.isol</string>
		<string>W.init</string>
		<string>W.medi</string>
		<string>W.fina</string>
		<string>W.isol</string>
		<string>H.init</string>
		<string>H.medi</string>
		<string>H.fina</string>
		<string>H.isol</string>
		<string>Gh.init</string>
		<string>Gh.medi</string>
		<string>Gh.fina</string>
		<string>Gh.isol</string>
		<string>U.init</string>
		<string>U.medi</string>
		<string>U.fina</string>
		<string>U.isol</string>
		<string>Uh.init</string>
		<string>Uh.medi</string>
		<string>Uh.fina</string>
		<string>Uh.isol</string>
		<string>O.init</string>
		<string>O.medi</string>
		<string>O.fina</string>
		<string>O.isol</string>
		<string>Ue.init</string>
		<string>Ue.medi</string>
		<string>Ue.fina</string>
		<string>Ue.isol</string>
		<string>I.init</string>
		<string>I.medi</string>
		<string>I.fina</string>
		<string>I.isol</string>
		<string>Ih.init</string>
		<string>Ih.medi</string>
		<string>Ih.fina</string>
		<string>Ih.isol</string>
		<string>Y.init</string>
		<string>Y.medi</string>
		<string>Y.fina</string>
		<string>Y.isol</string>
		<string>G.init</string>
		<string>G.medi</string>
		<string>G.fina</string>
		<string>G.isol</string>
		<string>Gg.init</string>
		<string>Gg.medi</string>
		<string>Gg.fina</string>
		<string>Gg.isol</string>
		<string>K.init</string>
		<string>K.medi</string>
		<string>K.fina</string>
		<string>K.isol</string>
		<string>K2.init</string>
		<string>K2.medi</string>
		<string>K2.fina</string>
		<string>K2.isol</string>
		<string>D.init</string>
		<string>D.medi</string>
		<string>D.fina</string>
		<string>D.isol</string>
		<string>M.init</string>
		<string>M.medi</string>
		<string>M.fina</string>
		<string>M.isol</string>
		<string>S.init</string>
		<string>S.medi</string>
		<string>S.fina</string>
		<string>S.isol</string>
		<string>Sh.init</string>
		<string>Sh.medi</string>
		<string>Sh.fina</string>
		<string>Sh.isol</string>
		<string>B.init</string>
		<string>B.medi</string>
		<string>B.fina</string>
		<string>B.isol</string>
		<string>P.init</string>
		<string>P.medi</string>
		<string>P.fina</string>
		<string>P.isol</string>
		<string>F.init</string>
		<string>F.medi</string>
		<string>F.fina</string>
		<string>F.isol</string>
		<string>Ch.init</string>
		<string>Ch.medi</string>
		<string>Ch.fina</string>
		<string>Ch.isol</string>
		<string>J.init</string>
		<string>J.medi</string>
		<string>J.fina</string>
		<string>J.isol</string>
		<string>C.init</string>
		<string>C.medi</string>
		<string>C.fina</string>
		<string>C.isol</string>
		<string>Z.init</string>
		<string>Z.medi</string>
		<string>Z.fina</string>
		<string>Z.isol</string>
		<string>R.init</string>
		<string>R.medi</string>
		<string>R.fina</string>
		<string>R.isol</string>
		<string>T.init</string>
		<string>T.medi</string>
		<string>T.fina</string>
		<string>T.isol</string>
		<string>Dh.init</string>
		<string>Dh.medi</string>
		<string>Dh.fina</string>
		<string>Dh.isol</string>
		<string>L.init</string>
		<string>L.medi</string>
		<string>L.fina</string>
		<string>L.isol</string>
		<string>Rh.init</string>
		<string>Rh.medi</string>
		<string>Rh.fina</string>
		<string>Rh.isol</string>
		<string>H2.init</string>
		<string>H2.medi</string>
		<string>H2.fina</string>
		<string>H2.isol</string>
		<string>Zr.init</string>
		<string>Zr.medi</string>
		<string>Zr.fina</string>
		<string>Zr.isol</string>
		<string>Cr.init</string>
		<string>Cr.medi</string>
		<string>Cr.fina</string>
		<string>Cr.isol</string>
		<string>_dot</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>nirugu</string>
		<string>A.init</string>
		<string>A.medi</string>
		<string>A.fina</string>
		<string>A.isol</string>
		<string>Ah.fina</string>
		<string>Ah.isol</string>
		<string>N.init</string>
		<string>N.medi</string>
		<string>N.fina</string>
		<string>W.init</string>
		<string>W.medi</string>
		<string>W.fina</string>
		<string>H.init</string>
		<string>H.medi</string>
		<string>H.fina</string>
		<string>Gh.init</string>
		<string>Gh.medi</string>
		<string>Gh.fina</string>
		<string>U.init</string>
		<string>U.medi</string>
		<string>U.fina</string>
		<string>U.isol</string>
		<string>Uh.isol</string>
		<string>O.fina</string>
		<string>Ue.fina</string>
		<string>I.init</string>
		<string>I.medi</string>
		<string>I.fina</string>
		<string>I.isol</string>
		<string>Ih.isol</string>
		<string>Y.init</string>
		<string>Y.medi</string>
		<string>G.init</string>
		<string>G.medi</string>
		<string>G.fina</string>
		<string>Gg.init</string>
		<string>Gg.medi</string>
		<string>K.init</string>
		<string>K.medi</string>
		<string>K.fina</string>
		<string>K2.init</string>
		<string>K2.medi</string>
		<string>K2.fina</string>
		<string>D.init</string>
		<string>D.medi</string>
		<string>D.fina</string>
		<string>M.init</string>
		<string>M.medi</string>
		<string>M.fina</string>
		<string>S.init</string>
		<string>S.medi</string>
		<string>S.fina</string>
		<string>Sh.init</string>
		<string>Sh.medi</string>
		<string>Sh.fina</string>
		<string>B.init</string>
		<string>B.medi</string>
		<string>B.fina</string>
		<string>P.init</string>
		<string>P.medi</string>
		<string>P.fina</string>
		<string>F.init</string>
		<string>F.medi</string>
		<string>F.fina</string>
		<string>Ch.init</string>
		<string>Ch.medi</string>
		<string>Ch.fina</string>
		<string>J.medi</string>
		<string>J.fina</string>
		<string>C.init</string>
		<string>C.medi</string>
		<string>C.fina</string>
		<string>Z.init</string>
		<string>Z.medi</string>
		<string>Z.fina</string>
		<string>R.init</string>
		<string>R.medi</string>
		<string>R.fina</string>
		<string>T.init</string>
		<string>T.medi</string>
		<string>T.fina</string>
		<string>Dh.medi</string>
		<string>Dh.fina</string>
		<string>L.init</string>
		<string>L.medi</string>
		<string>L.fina</string>
		<string>Rh.init</string>
		<string>Rh.medi</string>
		<string>Rh.fina</string>
		<string>H2.init</string>
		<string>H2.medi</string>
		<string>H2.fina</string>
		<string>Zr.init</string>
		<string>Cr.init</string>
	</array>
</dict>
</plist>
