*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  line-height: 1.4;
  /* “Prevent adjustments of font size after orientation changes in iOS” (https://github.com/sindresorhus/modern-normalize/blob/0c3cb3a7dcf0fb4242a8736127a1d717b704c360/modern-normalize.css#L26): */
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  width: 42em;
  max-width: 95%;
  font-family: "IBM Plex Serif", serif;
}

@font-face {
  font-family: "Menk Vran Tig";
  src: url("Menk Vran Tig.ttf");
}
