<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A.fina</key>
	<string>A_.fina.glif</string>
	<key>A.init</key>
	<string>A_.init.glif</string>
	<key>A.isol</key>
	<string>A_.isol.glif</string>
	<key>A.medi</key>
	<string>A_.medi.glif</string>
	<key>Ah.isol</key>
	<string>A_h.isol.glif</string>
	<key>B.fina</key>
	<string>B_.fina.glif</string>
	<key>B.init</key>
	<string>B_.init.glif</string>
	<key>B.medi</key>
	<string>B_.medi.glif</string>
	<key>C.fina</key>
	<string>C_.fina.glif</string>
	<key>C.init</key>
	<string>C_.init.glif</string>
	<key>C.medi</key>
	<string>C_.medi.glif</string>
	<key>Ch.fina</key>
	<string>C_h.fina.glif</string>
	<key>Ch.init</key>
	<string>C_h.init.glif</string>
	<key>Ch.medi</key>
	<string>C_h.medi.glif</string>
	<key>Cr.init</key>
	<string>C_r.init.glif</string>
	<key>D.fina</key>
	<string>D_.fina.glif</string>
	<key>D.init</key>
	<string>D_.init.glif</string>
	<key>D.medi</key>
	<string>D_.medi.glif</string>
	<key>Dh.fina</key>
	<string>D_h.fina.glif</string>
	<key>Dh.medi</key>
	<string>D_h.medi.glif</string>
	<key>F.fina</key>
	<string>F_.fina.glif</string>
	<key>F.init</key>
	<string>F_.init.glif</string>
	<key>F.medi</key>
	<string>F_.medi.glif</string>
	<key>G.fina</key>
	<string>G_.fina.glif</string>
	<key>G.init</key>
	<string>G_.init.glif</string>
	<key>G.medi</key>
	<string>G_.medi.glif</string>
	<key>Gh.fina</key>
	<string>G_h.fina.glif</string>
	<key>Gh.init</key>
	<string>G_h.init.glif</string>
	<key>Gh.medi</key>
	<string>G_h.medi.glif</string>
	<key>H.fina</key>
	<string>H_.fina.glif</string>
	<key>H.init</key>
	<string>H_.init.glif</string>
	<key>H.medi</key>
	<string>H_.medi.glif</string>
	<key>H2.fina</key>
	<string>H_2.fina.glif</string>
	<key>H2.init</key>
	<string>H_2.init.glif</string>
	<key>H2.medi</key>
	<string>H_2.medi.glif</string>
	<key>I.fina</key>
	<string>I_.fina.glif</string>
	<key>I.init</key>
	<string>I_.init.glif</string>
	<key>I.isol</key>
	<string>I_.isol.glif</string>
	<key>I.medi</key>
	<string>I_.medi.glif</string>
	<key>J.fina</key>
	<string>J_.fina.glif</string>
	<key>J.medi</key>
	<string>J_.medi.glif</string>
	<key>K.fina</key>
	<string>K_.fina.glif</string>
	<key>K.init</key>
	<string>K_.init.glif</string>
	<key>K.medi</key>
	<string>K_.medi.glif</string>
	<key>L.fina</key>
	<string>L_.fina.glif</string>
	<key>L.init</key>
	<string>L_.init.glif</string>
	<key>L.medi</key>
	<string>L_.medi.glif</string>
	<key>M.fina</key>
	<string>M_.fina.glif</string>
	<key>M.init</key>
	<string>M_.init.glif</string>
	<key>M.medi</key>
	<string>M_.medi.glif</string>
	<key>N.fina</key>
	<string>N_.fina.glif</string>
	<key>N.init</key>
	<string>N_.init.glif</string>
	<key>N.medi</key>
	<string>N_.medi.glif</string>
	<key>O.fina</key>
	<string>O_.fina.glif</string>
	<key>P.fina</key>
	<string>P_.fina.glif</string>
	<key>P.init</key>
	<string>P_.init.glif</string>
	<key>P.medi</key>
	<string>P_.medi.glif</string>
	<key>R.fina</key>
	<string>R_.fina.glif</string>
	<key>R.init</key>
	<string>R_.init.glif</string>
	<key>R.medi</key>
	<string>R_.medi.glif</string>
	<key>Rh.fina</key>
	<string>R_h.fina.glif</string>
	<key>Rh.init</key>
	<string>R_h.init.glif</string>
	<key>Rh.medi</key>
	<string>R_h.medi.glif</string>
	<key>S.fina</key>
	<string>S_.fina.glif</string>
	<key>S.init</key>
	<string>S_.init.glif</string>
	<key>S.medi</key>
	<string>S_.medi.glif</string>
	<key>Sh.fina</key>
	<string>S_h.fina.glif</string>
	<key>Sh.init</key>
	<string>S_h.init.glif</string>
	<key>Sh.medi</key>
	<string>S_h.medi.glif</string>
	<key>T.fina</key>
	<string>T_.fina.glif</string>
	<key>T.init</key>
	<string>T_.init.glif</string>
	<key>T.medi</key>
	<string>T_.medi.glif</string>
	<key>U.fina</key>
	<string>U_.fina.glif</string>
	<key>U.init</key>
	<string>U_.init.glif</string>
	<key>U.isol</key>
	<string>U_.isol.glif</string>
	<key>U.medi</key>
	<string>U_.medi.glif</string>
	<key>Ue.fina</key>
	<string>U_e.fina.glif</string>
	<key>W.fina</key>
	<string>W_.fina.glif</string>
	<key>W.init</key>
	<string>W_.init.glif</string>
	<key>W.medi</key>
	<string>W_.medi.glif</string>
	<key>Y.init</key>
	<string>Y_.init.glif</string>
	<key>Y.medi</key>
	<string>Y_.medi.glif</string>
	<key>Z.fina</key>
	<string>Z_.fina.glif</string>
	<key>Z.init</key>
	<string>Z_.init.glif</string>
	<key>Z.medi</key>
	<string>Z_.medi.glif</string>
	<key>Zr.init</key>
	<string>Z_r.init.glif</string>
	<key>nirugu</key>
	<string>nirugu.glif</string>
	<key>space</key>
	<string>space.glif</string>
</dict>
</plist>
