<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A.fina</key>
    <string>A_.fina.glif</string>
    <key>A.init</key>
    <string>A_.init.glif</string>
    <key>A.isol</key>
    <string>A_.isol.glif</string>
    <key>A.medi</key>
    <string>A_.medi.glif</string>
    <key>Ah.fina</key>
    <string>A_h.fina.glif</string>
    <key>Ah.isol</key>
    <string>A_h.isol.glif</string>
    <key>B.fina</key>
    <string>B_.fina.glif</string>
    <key>B.init</key>
    <string>B_.init.glif</string>
    <key>B.medi</key>
    <string>B_.medi.glif</string>
    <key>C.fina</key>
    <string>C_.fina.glif</string>
    <key>C.init</key>
    <string>C_.init.glif</string>
    <key>C.medi</key>
    <string>C_.medi.glif</string>
    <key>Ch.fina</key>
    <string>C_h.fina.glif</string>
    <key>Ch.init</key>
    <string>C_h.init.glif</string>
    <key>Ch.medi</key>
    <string>C_h.medi.glif</string>
    <key>Cr.init</key>
    <string>C_r.init.glif</string>
    <key>D.fina</key>
    <string>D_.fina.glif</string>
    <key>D.init</key>
    <string>D_.init.glif</string>
    <key>D.medi</key>
    <string>D_.medi.glif</string>
    <key>Dh.fina</key>
    <string>D_h.fina.glif</string>
    <key>Dh.medi</key>
    <string>D_h.medi.glif</string>
    <key>F.fina</key>
    <string>F_.fina.glif</string>
    <key>F.init</key>
    <string>F_.init.glif</string>
    <key>F.medi</key>
    <string>F_.medi.glif</string>
    <key>G.fina</key>
    <string>G_.fina.glif</string>
    <key>G.init</key>
    <string>G_.init.glif</string>
    <key>G.medi</key>
    <string>G_.medi.glif</string>
    <key>Gg.init</key>
    <string>G_g.init.glif</string>
    <key>Gg.medi</key>
    <string>G_g.medi.glif</string>
    <key>Gh.fina</key>
    <string>G_h.fina.glif</string>
    <key>Gh.init</key>
    <string>G_h.init.glif</string>
    <key>Gh.medi</key>
    <string>G_h.medi.glif</string>
    <key>H.fina</key>
    <string>H_.fina.glif</string>
    <key>H.init</key>
    <string>H_.init.glif</string>
    <key>H.medi</key>
    <string>H_.medi.glif</string>
    <key>H2.fina</key>
    <string>H_2.fina.glif</string>
    <key>H2.init</key>
    <string>H_2.init.glif</string>
    <key>H2.medi</key>
    <string>H_2.medi.glif</string>
    <key>I.fina</key>
    <string>I_.fina.glif</string>
    <key>I.init</key>
    <string>I_.init.glif</string>
    <key>I.isol</key>
    <string>I_.isol.glif</string>
    <key>I.medi</key>
    <string>I_.medi.glif</string>
    <key>Ih.isol</key>
    <string>I_h.isol.glif</string>
    <key>J.fina</key>
    <string>J_.fina.glif</string>
    <key>J.medi</key>
    <string>J_.medi.glif</string>
    <key>K.fina</key>
    <string>K_.fina.glif</string>
    <key>K.init</key>
    <string>K_.init.glif</string>
    <key>K.medi</key>
    <string>K_.medi.glif</string>
    <key>K2.fina</key>
    <string>K_2.fina.glif</string>
    <key>K2.init</key>
    <string>K_2.init.glif</string>
    <key>K2.medi</key>
    <string>K_2.medi.glif</string>
    <key>L.fina</key>
    <string>L_.fina.glif</string>
    <key>L.init</key>
    <string>L_.init.glif</string>
    <key>L.medi</key>
    <string>L_.medi.glif</string>
    <key>M.fina</key>
    <string>M_.fina.glif</string>
    <key>M.init</key>
    <string>M_.init.glif</string>
    <key>M.medi</key>
    <string>M_.medi.glif</string>
    <key>N.fina</key>
    <string>N_.fina.glif</string>
    <key>N.init</key>
    <string>N_.init.glif</string>
    <key>N.medi</key>
    <string>N_.medi.glif</string>
    <key>O.fina</key>
    <string>O_.fina.glif</string>
    <key>P.fina</key>
    <string>P_.fina.glif</string>
    <key>P.init</key>
    <string>P_.init.glif</string>
    <key>P.medi</key>
    <string>P_.medi.glif</string>
    <key>R.fina</key>
    <string>R_.fina.glif</string>
    <key>R.init</key>
    <string>R_.init.glif</string>
    <key>R.medi</key>
    <string>R_.medi.glif</string>
    <key>Rh.fina</key>
    <string>R_h.fina.glif</string>
    <key>Rh.init</key>
    <string>R_h.init.glif</string>
    <key>Rh.medi</key>
    <string>R_h.medi.glif</string>
    <key>S.fina</key>
    <string>S_.fina.glif</string>
    <key>S.init</key>
    <string>S_.init.glif</string>
    <key>S.medi</key>
    <string>S_.medi.glif</string>
    <key>Sh.fina</key>
    <string>S_h.fina.glif</string>
    <key>Sh.init</key>
    <string>S_h.init.glif</string>
    <key>Sh.medi</key>
    <string>S_h.medi.glif</string>
    <key>T.fina</key>
    <string>T_.fina.glif</string>
    <key>T.init</key>
    <string>T_.init.glif</string>
    <key>T.medi</key>
    <string>T_.medi.glif</string>
    <key>U.fina</key>
    <string>U_.fina.glif</string>
    <key>U.init</key>
    <string>U_.init.glif</string>
    <key>U.isol</key>
    <string>U_.isol.glif</string>
    <key>U.medi</key>
    <string>U_.medi.glif</string>
    <key>Ue.fina</key>
    <string>U_e.fina.glif</string>
    <key>Uh.isol</key>
    <string>U_h.isol.glif</string>
    <key>W.fina</key>
    <string>W_.fina.glif</string>
    <key>W.init</key>
    <string>W_.init.glif</string>
    <key>W.medi</key>
    <string>W_.medi.glif</string>
    <key>Y.init</key>
    <string>Y_.init.glif</string>
    <key>Y.medi</key>
    <string>Y_.medi.glif</string>
    <key>Z.fina</key>
    <string>Z_.fina.glif</string>
    <key>Z.init</key>
    <string>Z_.init.glif</string>
    <key>Z.medi</key>
    <string>Z_.medi.glif</string>
    <key>Zr.init</key>
    <string>Z_r.init.glif</string>
    <key>a.fina.A</key>
    <string>a.fina.A_.glif</string>
    <key>a.fina.Ah</key>
    <string>a.fina.A_h.glif</string>
    <key>a.init.A</key>
    <string>a.init.A_.glif</string>
    <key>a.init.AA</key>
    <string>a.init.A_A_.glif</string>
    <key>a.isol.A</key>
    <string>a.isol.A_.glif</string>
    <key>a.isol.AA</key>
    <string>a.isol.A_A_.glif</string>
    <key>a.isol.Ah</key>
    <string>a.isol.A_h.glif</string>
    <key>a.medi.A</key>
    <string>a.medi.A_.glif</string>
    <key>a.medi.AA</key>
    <string>a.medi.A_A_.glif</string>
    <key>b.fina.B</key>
    <string>b.fina.B_.glif</string>
    <key>b.init.B</key>
    <string>b.init.B_.glif</string>
    <key>b.isol.B.init</key>
    <string>b.isol.B_.init.glif</string>
    <key>b.medi.B</key>
    <string>b.medi.B_.glif</string>
    <key>c.fina.C</key>
    <string>c.fina.C_.glif</string>
    <key>c.init.C</key>
    <string>c.init.C_.glif</string>
    <key>c.isol.C.init</key>
    <string>c.isol.C_.init.glif</string>
    <key>c.medi.C</key>
    <string>c.medi.C_.glif</string>
    <key>ch.fina.Ch</key>
    <string>ch.fina.C_h.glif</string>
    <key>ch.init.Ch</key>
    <string>ch.init.C_h.glif</string>
    <key>ch.isol.Ch.init</key>
    <string>ch.isol.C_h.init.glif</string>
    <key>ch.medi.Ch</key>
    <string>ch.medi.C_h.glif</string>
    <key>cr.fina.Cr.init</key>
    <string>cr.fina.C_r.init.glif</string>
    <key>cr.init.Cr</key>
    <string>cr.init.C_r.glif</string>
    <key>cr.isol.Cr.init</key>
    <string>cr.isol.C_r.init.glif</string>
    <key>cr.medi.Cr.init</key>
    <string>cr.medi.C_r.init.glif</string>
    <key>d.fina.D</key>
    <string>d.fina.D_.glif</string>
    <key>d.fina.Dh</key>
    <string>d.fina.D_h.glif</string>
    <key>d.init.D</key>
    <string>d.init.D_.glif</string>
    <key>d.init.T</key>
    <string>d.init.T_.glif</string>
    <key>d.isol.D.init</key>
    <string>d.isol.D_.init.glif</string>
    <key>d.isol.T.init</key>
    <string>d.isol.T_.init.glif</string>
    <key>d.medi.D</key>
    <string>d.medi.D_.glif</string>
    <key>d.medi.Dh</key>
    <string>d.medi.D_h.glif</string>
    <key>e.fina.A</key>
    <string>e.fina.A_.glif</string>
    <key>e.fina.Ah</key>
    <string>e.fina.A_h.glif</string>
    <key>e.init.A</key>
    <string>e.init.A_.glif</string>
    <key>e.init.AA</key>
    <string>e.init.A_A_.glif</string>
    <key>e.isol.A</key>
    <string>e.isol.A_.glif</string>
    <key>e.isol.Ah</key>
    <string>e.isol.A_h.glif</string>
    <key>e.medi.A</key>
    <string>e.medi.A_.glif</string>
    <key>e2.fina.W</key>
    <string>e2.fina.W_.glif</string>
    <key>e2.init.AW</key>
    <string>e2.init.A_W_.glif</string>
    <key>e2.isol.AW</key>
    <string>e2.isol.A_W_.glif</string>
    <key>e2.medi.W</key>
    <string>e2.medi.W_.glif</string>
    <key>f.fina.F</key>
    <string>f.fina.F_.glif</string>
    <key>f.init.F</key>
    <string>f.init.F_.glif</string>
    <key>f.isol.F.init</key>
    <string>f.isol.F_.init.glif</string>
    <key>f.medi.F</key>
    <string>f.medi.F_.glif</string>
    <key>g.fina.G</key>
    <string>g.fina.G_.glif</string>
    <key>g.fina.Gh</key>
    <string>g.fina.G_h.glif</string>
    <key>g.fina.H</key>
    <string>g.fina.H_.glif</string>
    <key>g.init.G</key>
    <string>g.init.G_.glif</string>
    <key>g.init.Gg</key>
    <string>g.init.G_g.glif</string>
    <key>g.init.Gh</key>
    <string>g.init.G_h.glif</string>
    <key>g.init.H</key>
    <string>g.init.H_.glif</string>
    <key>g.isol.G.init</key>
    <string>g.isol.G_.init.glif</string>
    <key>g.isol.Gg.init</key>
    <string>g.isol.G_g.init.glif</string>
    <key>g.isol.Gh.init</key>
    <string>g.isol.G_h.init.glif</string>
    <key>g.isol.H.init</key>
    <string>g.isol.H_.init.glif</string>
    <key>g.medi.G</key>
    <string>g.medi.G_.glif</string>
    <key>g.medi.Gg</key>
    <string>g.medi.G_g.glif</string>
    <key>g.medi.Gh</key>
    <string>g.medi.G_h.glif</string>
    <key>g.medi.H</key>
    <string>g.medi.H_.glif</string>
    <key>h.fina.Gh</key>
    <string>h.fina.G_h.glif</string>
    <key>h.fina.H</key>
    <string>h.fina.H_.glif</string>
    <key>h.init.G</key>
    <string>h.init.G_.glif</string>
    <key>h.init.Gg</key>
    <string>h.init.G_g.glif</string>
    <key>h.init.Gh</key>
    <string>h.init.G_h.glif</string>
    <key>h.init.H</key>
    <string>h.init.H_.glif</string>
    <key>h.isol.G.init</key>
    <string>h.isol.G_.init.glif</string>
    <key>h.isol.Gg.init</key>
    <string>h.isol.G_g.init.glif</string>
    <key>h.isol.Gh.init</key>
    <string>h.isol.G_h.init.glif</string>
    <key>h.isol.H.init</key>
    <string>h.isol.H_.init.glif</string>
    <key>h.medi.G</key>
    <string>h.medi.G_.glif</string>
    <key>h.medi.Gg</key>
    <string>h.medi.G_g.glif</string>
    <key>h.medi.Gh</key>
    <string>h.medi.G_h.glif</string>
    <key>h.medi.H</key>
    <string>h.medi.H_.glif</string>
    <key>h2.fina.H2</key>
    <string>h2.fina.H_2.glif</string>
    <key>h2.init.H2</key>
    <string>h2.init.H_2.glif</string>
    <key>h2.isol.H2.init</key>
    <string>h2.isol.H_2.init.glif</string>
    <key>h2.medi.H2</key>
    <string>h2.medi.H_2.glif</string>
    <key>i.fina.I</key>
    <string>i.fina.I_.glif</string>
    <key>i.init.AI</key>
    <string>i.init.A_I_.glif</string>
    <key>i.init.I</key>
    <string>i.init.I_.glif</string>
    <key>i.isol.AI</key>
    <string>i.isol.A_I_.glif</string>
    <key>i.isol.I</key>
    <string>i.isol.I_.glif</string>
    <key>i.isol.Ih</key>
    <string>i.isol.I_h.glif</string>
    <key>i.medi.AI</key>
    <string>i.medi.A_I_.glif</string>
    <key>i.medi.I</key>
    <string>i.medi.I_.glif</string>
    <key>i.medi.II</key>
    <string>i.medi.I_I_.glif</string>
    <key>j.fina.I</key>
    <string>j.fina.I_.glif</string>
    <key>j.fina.J</key>
    <string>j.fina.J_.glif</string>
    <key>j.init.I</key>
    <string>j.init.I_.glif</string>
    <key>j.isol.I</key>
    <string>j.isol.I_.glif</string>
    <key>j.isol.I.init</key>
    <string>j.isol.I_.init.glif</string>
    <key>j.medi.J</key>
    <string>j.medi.J_.glif</string>
    <key>k.fina.K</key>
    <string>k.fina.K_.glif</string>
    <key>k.init.K</key>
    <string>k.init.K_.glif</string>
    <key>k.isol.K.init</key>
    <string>k.isol.K_.init.glif</string>
    <key>k.medi.K</key>
    <string>k.medi.K_.glif</string>
    <key>k2.fina.K2</key>
    <string>k2.fina.K_2.glif</string>
    <key>k2.init.K2</key>
    <string>k2.init.K_2.glif</string>
    <key>k2.isol.K2.init</key>
    <string>k2.isol.K_2.init.glif</string>
    <key>k2.medi.K2</key>
    <string>k2.medi.K_2.glif</string>
    <key>l.fina.L</key>
    <string>l.fina.L_.glif</string>
    <key>l.init.L</key>
    <string>l.init.L_.glif</string>
    <key>l.isol.L.init</key>
    <string>l.isol.L_.init.glif</string>
    <key>l.medi.L</key>
    <string>l.medi.L_.glif</string>
    <key>lh.fina.LH2.medi</key>
    <string>lh.fina.L_H_2.medi.glif</string>
    <key>lh.init.LH2</key>
    <string>lh.init.L_H_2.glif</string>
    <key>lh.isol.LH2.init</key>
    <string>lh.isol.L_H_2.init.glif</string>
    <key>lh.medi.LH2</key>
    <string>lh.medi.L_H_2.glif</string>
    <key>m.fina.M</key>
    <string>m.fina.M_.glif</string>
    <key>m.init.M</key>
    <string>m.init.M_.glif</string>
    <key>m.isol.M.init</key>
    <string>m.isol.M_.init.glif</string>
    <key>m.medi.M</key>
    <string>m.medi.M_.glif</string>
    <key>n.fina.A</key>
    <string>n.fina.A_.glif</string>
    <key>n.fina.N</key>
    <string>n.fina.N_.glif</string>
    <key>n.init.A</key>
    <string>n.init.A_.glif</string>
    <key>n.init.N</key>
    <string>n.init.N_.glif</string>
    <key>n.isol.A.init</key>
    <string>n.isol.A_.init.glif</string>
    <key>n.isol.N.init</key>
    <string>n.isol.N_.init.glif</string>
    <key>n.medi.A</key>
    <string>n.medi.A_.glif</string>
    <key>n.medi.N</key>
    <string>n.medi.N_.glif</string>
    <key>ng.fina.AG</key>
    <string>ng.fina.A_G_.glif</string>
    <key>ng.init.AG.medi</key>
    <string>ng.init.A_G_.medi.glif</string>
    <key>ng.isol.AG.medi</key>
    <string>ng.isol.A_G_.medi.glif</string>
    <key>ng.medi.AG</key>
    <string>ng.medi.A_G_.glif</string>
    <key>nirugu</key>
    <string>nirugu.glif</string>
    <key>o.fina.O</key>
    <string>o.fina.O_.glif</string>
    <key>o.fina.U</key>
    <string>o.fina.U_.glif</string>
    <key>o.init.AU</key>
    <string>o.init.A_U_.glif</string>
    <key>o.isol.AO</key>
    <string>o.isol.A_O_.glif</string>
    <key>o.medi.AU</key>
    <string>o.medi.A_U_.glif</string>
    <key>o.medi.U</key>
    <string>o.medi.U_.glif</string>
    <key>oe.fina.O</key>
    <string>oe.fina.O_.glif</string>
    <key>oe.fina.U</key>
    <string>oe.fina.U_.glif</string>
    <key>oe.fina.Ue</key>
    <string>oe.fina.U_e.glif</string>
    <key>oe.init.AUI</key>
    <string>oe.init.A_U_I_.glif</string>
    <key>oe.isol.AU</key>
    <string>oe.isol.A_U_.glif</string>
    <key>oe.isol.AUe</key>
    <string>oe.isol.A_U_e.glif</string>
    <key>oe.medi.AUI</key>
    <string>oe.medi.A_U_I_.glif</string>
    <key>oe.medi.U</key>
    <string>oe.medi.U_.glif</string>
    <key>oe.medi.UI</key>
    <string>oe.medi.U_I_.glif</string>
    <key>p.fina.P</key>
    <string>p.fina.P_.glif</string>
    <key>p.init.P</key>
    <string>p.init.P_.glif</string>
    <key>p.isol.P.init</key>
    <string>p.isol.P_.init.glif</string>
    <key>p.medi.P</key>
    <string>p.medi.P_.glif</string>
    <key>r.fina.R</key>
    <string>r.fina.R_.glif</string>
    <key>r.init.R</key>
    <string>r.init.R_.glif</string>
    <key>r.isol.R.init</key>
    <string>r.isol.R_.init.glif</string>
    <key>r.medi.R</key>
    <string>r.medi.R_.glif</string>
    <key>rh.fina.Rh</key>
    <string>rh.fina.R_h.glif</string>
    <key>rh.init.Rh</key>
    <string>rh.init.R_h.glif</string>
    <key>rh.isol.Rh.init</key>
    <string>rh.isol.R_h.init.glif</string>
    <key>rh.medi.Rh</key>
    <string>rh.medi.R_h.glif</string>
    <key>s.fina.S</key>
    <string>s.fina.S_.glif</string>
    <key>s.init.S</key>
    <string>s.init.S_.glif</string>
    <key>s.isol.S.init</key>
    <string>s.isol.S_.init.glif</string>
    <key>s.medi.S</key>
    <string>s.medi.S_.glif</string>
    <key>sh.fina.Sh</key>
    <string>sh.fina.S_h.glif</string>
    <key>sh.init.S</key>
    <string>sh.init.S_.glif</string>
    <key>sh.init.Sh</key>
    <string>sh.init.S_h.glif</string>
    <key>sh.isol.S.init</key>
    <string>sh.isol.S_.init.glif</string>
    <key>sh.isol.Sh.init</key>
    <string>sh.isol.S_h.init.glif</string>
    <key>sh.medi.S</key>
    <string>sh.medi.S_.glif</string>
    <key>sh.medi.Sh</key>
    <string>sh.medi.S_h.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t.fina.T</key>
    <string>t.fina.T_.glif</string>
    <key>t.init.T</key>
    <string>t.init.T_.glif</string>
    <key>t.isol.T.init</key>
    <string>t.isol.T_.init.glif</string>
    <key>t.medi.D</key>
    <string>t.medi.D_.glif</string>
    <key>t.medi.T</key>
    <string>t.medi.T_.glif</string>
    <key>u.fina.O</key>
    <string>u.fina.O_.glif</string>
    <key>u.fina.U</key>
    <string>u.fina.U_.glif</string>
    <key>u.init.AU</key>
    <string>u.init.A_U_.glif</string>
    <key>u.init.U</key>
    <string>u.init.U_.glif</string>
    <key>u.isol.AO</key>
    <string>u.isol.A_O_.glif</string>
    <key>u.isol.U</key>
    <string>u.isol.U_.glif</string>
    <key>u.isol.Uh</key>
    <string>u.isol.U_h.glif</string>
    <key>u.medi.AU</key>
    <string>u.medi.A_U_.glif</string>
    <key>u.medi.U</key>
    <string>u.medi.U_.glif</string>
    <key>ue.fina.O</key>
    <string>ue.fina.O_.glif</string>
    <key>ue.fina.U</key>
    <string>ue.fina.U_.glif</string>
    <key>ue.fina.Ue</key>
    <string>ue.fina.U_e.glif</string>
    <key>ue.init.AUI</key>
    <string>ue.init.A_U_I_.glif</string>
    <key>ue.init.U</key>
    <string>ue.init.U_.glif</string>
    <key>ue.isol.AU</key>
    <string>ue.isol.A_U_.glif</string>
    <key>ue.isol.AUe</key>
    <string>ue.isol.A_U_e.glif</string>
    <key>ue.isol.U</key>
    <string>ue.isol.U_.glif</string>
    <key>ue.isol.Uh</key>
    <string>ue.isol.U_h.glif</string>
    <key>ue.medi.AUI</key>
    <string>ue.medi.A_U_I_.glif</string>
    <key>ue.medi.U</key>
    <string>ue.medi.U_.glif</string>
    <key>ue.medi.UI</key>
    <string>ue.medi.U_I_.glif</string>
    <key>w.fina.U</key>
    <string>w.fina.U_.glif</string>
    <key>w.fina.W</key>
    <string>w.fina.W_.glif</string>
    <key>w.init.W</key>
    <string>w.init.W_.glif</string>
    <key>w.isol.W.init</key>
    <string>w.isol.W_.init.glif</string>
    <key>w.medi.U</key>
    <string>w.medi.U_.glif</string>
    <key>w.medi.W</key>
    <string>w.medi.W_.glif</string>
    <key>y.fina.I</key>
    <string>y.fina.I_.glif</string>
    <key>y.init.I</key>
    <string>y.init.I_.glif</string>
    <key>y.init.Y</key>
    <string>y.init.Y_.glif</string>
    <key>y.isol.I.init</key>
    <string>y.isol.I_.init.glif</string>
    <key>y.isol.Y.init</key>
    <string>y.isol.Y_.init.glif</string>
    <key>y.medi.I</key>
    <string>y.medi.I_.glif</string>
    <key>y.medi.II</key>
    <string>y.medi.I_I_.glif</string>
    <key>y.medi.Y</key>
    <string>y.medi.Y_.glif</string>
    <key>z.fina.Z</key>
    <string>z.fina.Z_.glif</string>
    <key>z.init.Z</key>
    <string>z.init.Z_.glif</string>
    <key>z.isol.Z.init</key>
    <string>z.isol.Z_.init.glif</string>
    <key>z.medi.Z</key>
    <string>z.medi.Z_.glif</string>
    <key>zr.fina.Zr.init</key>
    <string>zr.fina.Z_r.init.glif</string>
    <key>zr.init.Zr</key>
    <string>zr.init.Z_r.glif</string>
    <key>zr.isol.Zr.init</key>
    <string>zr.isol.Z_r.init.glif</string>
    <key>zr.medi.Zr.init</key>
    <string>zr.medi.Z_r.init.glif</string>
  </dict>
</plist>
