<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>836</integer>
	<key>capHeight</key>
	<integer>714</integer>
	<key>descender</key>
	<integer>-264</integer>
	<key>familyName</key>
	<string>Variants</string>
	<key>openTypeHeadCreated</key>
	<string>2021/02/04 03:22:15</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array/>
	<key>postscriptFontName</key>
	<string>WrittenUnits-Regular</string>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>0</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>444</integer>
</dict>
</plist>
