<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array/>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<true/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>glyphOrder</string>
			<key>value</key>
			<array>
				<string>.notdef</string>
				<string>space</string>
				<string>nirugu</string>
				<string>A.isol</string>
				<string>A.init</string>
				<string>A.medi</string>
				<string>A.fina</string>
				<string>Aa.isol</string>
				<string>I.isol</string>
				<string>I.init</string>
				<string>I.medi</string>
				<string>I.fina</string>
				<string>Ix.isol</string>
				<string>O.init</string>
				<string>O.medi</string>
				<string>O.fina</string>
				<string>Ue.fina</string>
				<string>U.isol</string>
				<string>U.fina</string>
				<string>Ux.isol</string>
				<string>N.init</string>
				<string>N.medi</string>
				<string>N.fina</string>
				<string>B.init</string>
				<string>B.medi</string>
				<string>B.fina</string>
				<string>P.init</string>
				<string>P.medi</string>
				<string>P.fina</string>
				<string>H.init</string>
				<string>H.medi</string>
				<string>H.fina</string>
				<string>Gh.init</string>
				<string>Gh.medi</string>
				<string>Gh.fina</string>
				<string>G.init</string>
				<string>G.medi</string>
				<string>G.fina</string>
				<string>Gx.init</string>
				<string>Gx.medi</string>
				<string>M.init</string>
				<string>M.medi</string>
				<string>M.fina</string>
				<string>L.init</string>
				<string>L.medi</string>
				<string>L.fina</string>
				<string>S.init</string>
				<string>S.medi</string>
				<string>S.fina</string>
				<string>Sh.init</string>
				<string>Sh.medi</string>
				<string>Sh.fina</string>
				<string>T.init</string>
				<string>T.medi</string>
				<string>T.fina</string>
				<string>D.init</string>
				<string>D.medi</string>
				<string>D.fina</string>
				<string>Dd.medi</string>
				<string>Dd.fina</string>
				<string>Ch.init</string>
				<string>Ch.medi</string>
				<string>Ch.fina</string>
				<string>J.medi</string>
				<string>J.fina</string>
				<string>Y.init</string>
				<string>Y.medi</string>
				<string>R.init</string>
				<string>R.medi</string>
				<string>R.fina</string>
				<string>W.init</string>
				<string>W.medi</string>
				<string>W.fina</string>
				<string>F.init</string>
				<string>F.medi</string>
				<string>F.fina</string>
				<string>K.init</string>
				<string>K.medi</string>
				<string>K.fina</string>
				<string>C.init</string>
				<string>C.medi</string>
				<string>C.fina</string>
				<string>Z.init</string>
				<string>Z.medi</string>
				<string>Z.fina</string>
				<string>Hh.init</string>
				<string>Hh.medi</string>
				<string>Hh.fina</string>
				<string>Rh.init</string>
				<string>Rh.medi</string>
				<string>Rh.fina</string>
				<string>Zr.init</string>
				<string>Cr.init</string>
				<string>aleph.A.medi</string>
				<string>a.A_A.isol</string>
				<string>a.A.isol</string>
				<string>a.Aa.isol</string>
				<string>a.A_A.init</string>
				<string>a.A.init</string>
				<string>a.A.medi</string>
				<string>a.A.fina</string>
				<string>e.A.isol</string>
				<string>e.Aa.isol</string>
				<string>e.A.init</string>
				<string>e.A.medi</string>
				<string>e.A.fina</string>
				<string>i.A_I.isol</string>
				<string>i.I.isol</string>
				<string>i.Ix.isol</string>
				<string>i.A_I.init</string>
				<string>i.I.init</string>
				<string>i.I.medi</string>
				<string>i.I_I.medi</string>
				<string>i.I.fina</string>
				<string>o.A_O.isol</string>
				<string>o.A_O.init</string>
				<string>o.O.medi</string>
				<string>o.O.fina</string>
				<string>o.U.fina</string>
				<string>u.A_O.isol</string>
				<string>u.U.isol</string>
				<string>u.Ux.isol</string>
				<string>u.A_O.init</string>
				<string>u.O.init</string>
				<string>u.O.medi</string>
				<string>u.O.fina</string>
				<string>u.U.fina</string>
				<string>oe.A_Ue.isol</string>
				<string>oe.A_O_I.init</string>
				<string>oe.O_I.medi</string>
				<string>oe.O.medi</string>
				<string>oe.Ue.fina</string>
				<string>oe.O.fina</string>
				<string>oe.U.fina</string>
				<string>ue.A_Ue.isol</string>
				<string>ue.A_U.isol</string>
				<string>ue.U.isol</string>
				<string>ue.Ux.isol</string>
				<string>ue.A_O_I.init</string>
				<string>ue.O.init</string>
				<string>ue.O_I.medi</string>
				<string>ue.O.medi</string>
				<string>ue.Ue.fina</string>
				<string>ue.O.fina</string>
				<string>ue.U.fina</string>
				<string>eh.A_W.isol</string>
				<string>eh.A_W.init</string>
				<string>eh.W.medi</string>
				<string>eh.W.fina</string>
				<string>n.N.init</string>
				<string>n.A.init</string>
				<string>n.N.medi</string>
				<string>n.A.medi</string>
				<string>n.N.fina</string>
				<string>n.A.fina</string>
				<string>ng.A_G.medi</string>
				<string>ng.A_G.fina</string>
				<string>b.B.init</string>
				<string>b.B.medi</string>
				<string>b.B.fina</string>
				<string>p.P.init</string>
				<string>p.P.medi</string>
				<string>p.P.fina</string>
				<string>h.H.init</string>
				<string>h.G.init</string>
				<string>h.Gx.init</string>
				<string>h.H.medi</string>
				<string>h.G.medi</string>
				<string>h.Gx.medi</string>
				<string>h.H.fina</string>
				<string>g.Gh.init</string>
				<string>g.G.init</string>
				<string>g.Gh.medi</string>
				<string>g.G.medi</string>
				<string>g.H.medi</string>
				<string>g.Gh.fina</string>
				<string>g.G.fina</string>
				<string>g.H.fina</string>
				<string>m.M.init</string>
				<string>m.M.medi</string>
				<string>m.M.fina</string>
				<string>l.L.init</string>
				<string>l.L.medi</string>
				<string>l.L.fina</string>
				<string>s.S.init</string>
				<string>s.S.medi</string>
				<string>s.S.fina</string>
				<string>sh.Sh.init</string>
				<string>sh.Sh.medi</string>
				<string>sh.Sh.fina</string>
				<string>t.T.init</string>
				<string>t.T.medi</string>
				<string>t.D.medi</string>
				<string>t.T.fina</string>
				<string>d.T.init</string>
				<string>d.D.init</string>
				<string>d.D.medi</string>
				<string>d.Dd.medi</string>
				<string>d.D.fina</string>
				<string>d.Dd.fina</string>
				<string>ch.Ch.init</string>
				<string>ch.Ch.medi</string>
				<string>ch.Ch.fina</string>
				<string>j.I.isol</string>
				<string>j.I.init</string>
				<string>j.J.medi</string>
				<string>j.J.fina</string>
				<string>y.Y.init</string>
				<string>y.I.init</string>
				<string>y.Y.medi</string>
				<string>y.I.medi</string>
				<string>y.I.fina</string>
				<string>r.R.init</string>
				<string>r.R.medi</string>
				<string>r.R.fina</string>
				<string>w.W.init</string>
				<string>w.W.medi</string>
				<string>w.W.fina</string>
				<string>w.U.fina</string>
				<string>f.F.init</string>
				<string>f.F.medi</string>
				<string>f.F.fina</string>
				<string>k.K.init</string>
				<string>k.K.medi</string>
				<string>k.K.fina</string>
				<string>c.C.init</string>
				<string>c.C.medi</string>
				<string>c.C.fina</string>
				<string>z.Z.init</string>
				<string>z.Z.medi</string>
				<string>z.Z.fina</string>
				<string>hh.Hh.init</string>
				<string>hh.Hh.medi</string>
				<string>hh.Hh.fina</string>
				<string>rh.Rh.init</string>
				<string>rh.Rh.medi</string>
				<string>rh.Rh.fina</string>
				<string>lh.L_Hh.init</string>
				<string>lh.L_Hh.medi</string>
				<string>zr.Zr.init</string>
				<string>cr.Cr.init</string>
			</array>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>E91C2A68-9D13-40A3-B48F-6510F845363B</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>nirugu</string>
		<string>A.isol</string>
		<string>A.init</string>
		<string>A.medi</string>
		<string>A.fina</string>
		<string>Aa.isol</string>
		<string>I.isol</string>
		<string>I.init</string>
		<string>I.medi</string>
		<string>I.fina</string>
		<string>Ix.isol</string>
		<string>O.init</string>
		<string>O.medi</string>
		<string>O.fina</string>
		<string>Ue.fina</string>
		<string>U.isol</string>
		<string>U.fina</string>
		<string>Ux.isol</string>
		<string>N.init</string>
		<string>N.medi</string>
		<string>N.fina</string>
		<string>B.init</string>
		<string>B.medi</string>
		<string>B.fina</string>
		<string>P.init</string>
		<string>P.medi</string>
		<string>P.fina</string>
		<string>H.init</string>
		<string>H.medi</string>
		<string>H.fina</string>
		<string>Gh.init</string>
		<string>Gh.medi</string>
		<string>Gh.fina</string>
		<string>G.init</string>
		<string>G.medi</string>
		<string>G.fina</string>
		<string>Gx.init</string>
		<string>Gx.medi</string>
		<string>M.init</string>
		<string>M.medi</string>
		<string>M.fina</string>
		<string>L.init</string>
		<string>L.medi</string>
		<string>L.fina</string>
		<string>S.init</string>
		<string>S.medi</string>
		<string>S.fina</string>
		<string>Sh.init</string>
		<string>Sh.medi</string>
		<string>Sh.fina</string>
		<string>T.init</string>
		<string>T.medi</string>
		<string>T.fina</string>
		<string>D.init</string>
		<string>D.medi</string>
		<string>D.fina</string>
		<string>Dd.medi</string>
		<string>Dd.fina</string>
		<string>Ch.init</string>
		<string>Ch.medi</string>
		<string>Ch.fina</string>
		<string>J.medi</string>
		<string>J.fina</string>
		<string>Y.init</string>
		<string>Y.medi</string>
		<string>R.init</string>
		<string>R.medi</string>
		<string>R.fina</string>
		<string>W.init</string>
		<string>W.medi</string>
		<string>W.fina</string>
		<string>F.init</string>
		<string>F.medi</string>
		<string>F.fina</string>
		<string>K.init</string>
		<string>K.medi</string>
		<string>K.fina</string>
		<string>C.init</string>
		<string>C.medi</string>
		<string>C.fina</string>
		<string>Z.init</string>
		<string>Z.medi</string>
		<string>Z.fina</string>
		<string>Hh.init</string>
		<string>Hh.medi</string>
		<string>Hh.fina</string>
		<string>Rh.init</string>
		<string>Rh.medi</string>
		<string>Rh.fina</string>
		<string>Zr.init</string>
		<string>Cr.init</string>
		<string>aleph.A.medi</string>
		<string>a.A_A.isol</string>
		<string>a.A.isol</string>
		<string>a.Aa.isol</string>
		<string>a.A_A.init</string>
		<string>a.A.init</string>
		<string>a.A.medi</string>
		<string>a.A.fina</string>
		<string>e.A.isol</string>
		<string>e.Aa.isol</string>
		<string>e.A.init</string>
		<string>e.A.medi</string>
		<string>e.A.fina</string>
		<string>i.A_I.isol</string>
		<string>i.I.isol</string>
		<string>i.Ix.isol</string>
		<string>i.A_I.init</string>
		<string>i.I.init</string>
		<string>i.I.medi</string>
		<string>i.I_I.medi</string>
		<string>i.I.fina</string>
		<string>o.A_O.isol</string>
		<string>o.A_O.init</string>
		<string>o.O.medi</string>
		<string>o.O.fina</string>
		<string>o.U.fina</string>
		<string>u.A_O.isol</string>
		<string>u.U.isol</string>
		<string>u.Ux.isol</string>
		<string>u.A_O.init</string>
		<string>u.O.init</string>
		<string>u.O.medi</string>
		<string>u.O.fina</string>
		<string>u.U.fina</string>
		<string>oe.A_Ue.isol</string>
		<string>oe.A_O_I.init</string>
		<string>oe.O_I.medi</string>
		<string>oe.O.medi</string>
		<string>oe.Ue.fina</string>
		<string>oe.O.fina</string>
		<string>oe.U.fina</string>
		<string>ue.A_Ue.isol</string>
		<string>ue.A_U.isol</string>
		<string>ue.U.isol</string>
		<string>ue.Ux.isol</string>
		<string>ue.A_O_I.init</string>
		<string>ue.O.init</string>
		<string>ue.O_I.medi</string>
		<string>ue.O.medi</string>
		<string>ue.Ue.fina</string>
		<string>ue.O.fina</string>
		<string>ue.U.fina</string>
		<string>eh.A_W.isol</string>
		<string>eh.A_W.init</string>
		<string>eh.W.medi</string>
		<string>eh.W.fina</string>
		<string>n.N.init</string>
		<string>n.A.init</string>
		<string>n.N.medi</string>
		<string>n.A.medi</string>
		<string>n.N.fina</string>
		<string>n.A.fina</string>
		<string>ng.A_G.medi</string>
		<string>ng.A_G.fina</string>
		<string>b.B.init</string>
		<string>b.B.medi</string>
		<string>b.B.fina</string>
		<string>p.P.init</string>
		<string>p.P.medi</string>
		<string>p.P.fina</string>
		<string>h.H.init</string>
		<string>h.G.init</string>
		<string>h.Gx.init</string>
		<string>h.H.medi</string>
		<string>h.G.medi</string>
		<string>h.Gx.medi</string>
		<string>h.H.fina</string>
		<string>g.Gh.init</string>
		<string>g.G.init</string>
		<string>g.Gh.medi</string>
		<string>g.G.medi</string>
		<string>g.H.medi</string>
		<string>g.Gh.fina</string>
		<string>g.G.fina</string>
		<string>g.H.fina</string>
		<string>m.M.init</string>
		<string>m.M.medi</string>
		<string>m.M.fina</string>
		<string>l.L.init</string>
		<string>l.L.medi</string>
		<string>l.L.fina</string>
		<string>s.S.init</string>
		<string>s.S.medi</string>
		<string>s.S.fina</string>
		<string>sh.Sh.init</string>
		<string>sh.Sh.medi</string>
		<string>sh.Sh.fina</string>
		<string>t.T.init</string>
		<string>t.T.medi</string>
		<string>t.D.medi</string>
		<string>t.T.fina</string>
		<string>d.T.init</string>
		<string>d.D.init</string>
		<string>d.D.medi</string>
		<string>d.Dd.medi</string>
		<string>d.D.fina</string>
		<string>d.Dd.fina</string>
		<string>ch.Ch.init</string>
		<string>ch.Ch.medi</string>
		<string>ch.Ch.fina</string>
		<string>j.I.isol</string>
		<string>j.I.init</string>
		<string>j.J.medi</string>
		<string>j.J.fina</string>
		<string>y.Y.init</string>
		<string>y.I.init</string>
		<string>y.Y.medi</string>
		<string>y.I.medi</string>
		<string>y.I.fina</string>
		<string>r.R.init</string>
		<string>r.R.medi</string>
		<string>r.R.fina</string>
		<string>w.W.init</string>
		<string>w.W.medi</string>
		<string>w.W.fina</string>
		<string>w.U.fina</string>
		<string>f.F.init</string>
		<string>f.F.medi</string>
		<string>f.F.fina</string>
		<string>k.K.init</string>
		<string>k.K.medi</string>
		<string>k.K.fina</string>
		<string>c.C.init</string>
		<string>c.C.medi</string>
		<string>c.C.fina</string>
		<string>z.Z.init</string>
		<string>z.Z.medi</string>
		<string>z.Z.fina</string>
		<string>hh.Hh.init</string>
		<string>hh.Hh.medi</string>
		<string>hh.Hh.fina</string>
		<string>rh.Rh.init</string>
		<string>rh.Rh.medi</string>
		<string>rh.Rh.fina</string>
		<string>lh.L_Hh.init</string>
		<string>lh.L_Hh.medi</string>
		<string>zr.Zr.init</string>
		<string>cr.Cr.init</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>space</string>
		<string>nirugu</string>
		<string>A.isol</string>
		<string>A.init</string>
		<string>A.medi</string>
		<string>A.fina</string>
		<string>Aa.isol</string>
		<string>I.isol</string>
		<string>I.init</string>
		<string>I.medi</string>
		<string>I.fina</string>
		<string>Ix.isol</string>
		<string>O.init</string>
		<string>O.medi</string>
		<string>O.fina</string>
		<string>Ue.fina</string>
		<string>U.isol</string>
		<string>U.fina</string>
		<string>Ux.isol</string>
		<string>N.init</string>
		<string>N.medi</string>
		<string>N.fina</string>
		<string>B.init</string>
		<string>B.medi</string>
		<string>B.fina</string>
		<string>P.init</string>
		<string>P.medi</string>
		<string>P.fina</string>
		<string>H.init</string>
		<string>H.medi</string>
		<string>H.fina</string>
		<string>Gh.init</string>
		<string>Gh.medi</string>
		<string>Gh.fina</string>
		<string>G.init</string>
		<string>G.medi</string>
		<string>G.fina</string>
		<string>Gx.init</string>
		<string>Gx.medi</string>
		<string>M.init</string>
		<string>M.medi</string>
		<string>M.fina</string>
		<string>L.init</string>
		<string>L.medi</string>
		<string>L.fina</string>
		<string>S.init</string>
		<string>S.medi</string>
		<string>S.fina</string>
		<string>Sh.init</string>
		<string>Sh.medi</string>
		<string>Sh.fina</string>
		<string>T.init</string>
		<string>T.medi</string>
		<string>T.fina</string>
		<string>D.init</string>
		<string>D.medi</string>
		<string>D.fina</string>
		<string>Dd.medi</string>
		<string>Dd.fina</string>
		<string>Ch.init</string>
		<string>Ch.medi</string>
		<string>Ch.fina</string>
		<string>J.medi</string>
		<string>J.fina</string>
		<string>Y.init</string>
		<string>Y.medi</string>
		<string>R.init</string>
		<string>R.medi</string>
		<string>R.fina</string>
		<string>W.init</string>
		<string>W.medi</string>
		<string>W.fina</string>
		<string>F.init</string>
		<string>F.medi</string>
		<string>F.fina</string>
		<string>K.init</string>
		<string>K.medi</string>
		<string>K.fina</string>
		<string>C.init</string>
		<string>C.medi</string>
		<string>C.fina</string>
		<string>Z.init</string>
		<string>Z.medi</string>
		<string>Z.fina</string>
		<string>Hh.init</string>
		<string>Hh.medi</string>
		<string>Hh.fina</string>
		<string>Rh.init</string>
		<string>Rh.medi</string>
		<string>Rh.fina</string>
		<string>Zr.init</string>
		<string>Cr.init</string>
		<string>aleph.A.medi</string>
		<string>a.A_A.isol</string>
		<string>a.A.isol</string>
		<string>a.Aa.isol</string>
		<string>a.A_A.init</string>
		<string>a.A.init</string>
		<string>a.A.medi</string>
		<string>a.A.fina</string>
		<string>e.A.isol</string>
		<string>e.Aa.isol</string>
		<string>e.A.init</string>
		<string>e.A.medi</string>
		<string>e.A.fina</string>
		<string>i.A_I.isol</string>
		<string>i.I.isol</string>
		<string>i.Ix.isol</string>
		<string>i.A_I.init</string>
		<string>i.I.init</string>
		<string>i.I.medi</string>
		<string>i.I_I.medi</string>
		<string>i.I.fina</string>
		<string>o.A_O.isol</string>
		<string>o.A_O.init</string>
		<string>o.O.medi</string>
		<string>o.O.fina</string>
		<string>o.U.fina</string>
		<string>u.A_O.isol</string>
		<string>u.U.isol</string>
		<string>u.Ux.isol</string>
		<string>u.A_O.init</string>
		<string>u.O.init</string>
		<string>u.O.medi</string>
		<string>u.O.fina</string>
		<string>u.U.fina</string>
		<string>oe.A_Ue.isol</string>
		<string>oe.A_O_I.init</string>
		<string>oe.O_I.medi</string>
		<string>oe.O.medi</string>
		<string>oe.Ue.fina</string>
		<string>oe.O.fina</string>
		<string>oe.U.fina</string>
		<string>ue.A_Ue.isol</string>
		<string>ue.A_U.isol</string>
		<string>ue.U.isol</string>
		<string>ue.Ux.isol</string>
		<string>ue.A_O_I.init</string>
		<string>ue.O.init</string>
		<string>ue.O_I.medi</string>
		<string>ue.O.medi</string>
		<string>ue.Ue.fina</string>
		<string>ue.O.fina</string>
		<string>ue.U.fina</string>
		<string>eh.A_W.isol</string>
		<string>eh.A_W.init</string>
		<string>eh.W.medi</string>
		<string>eh.W.fina</string>
		<string>n.N.init</string>
		<string>n.A.init</string>
		<string>n.N.medi</string>
		<string>n.A.medi</string>
		<string>n.N.fina</string>
		<string>n.A.fina</string>
		<string>ng.A_G.medi</string>
		<string>ng.A_G.fina</string>
		<string>b.B.init</string>
		<string>b.B.medi</string>
		<string>b.B.fina</string>
		<string>p.P.init</string>
		<string>p.P.medi</string>
		<string>p.P.fina</string>
		<string>h.H.init</string>
		<string>h.G.init</string>
		<string>h.Gx.init</string>
		<string>h.H.medi</string>
		<string>h.G.medi</string>
		<string>h.Gx.medi</string>
		<string>h.H.fina</string>
		<string>g.Gh.init</string>
		<string>g.G.init</string>
		<string>g.Gh.medi</string>
		<string>g.G.medi</string>
		<string>g.H.medi</string>
		<string>g.Gh.fina</string>
		<string>g.G.fina</string>
		<string>g.H.fina</string>
		<string>m.M.init</string>
		<string>m.M.medi</string>
		<string>m.M.fina</string>
		<string>l.L.init</string>
		<string>l.L.medi</string>
		<string>l.L.fina</string>
		<string>s.S.init</string>
		<string>s.S.medi</string>
		<string>s.S.fina</string>
		<string>sh.Sh.init</string>
		<string>sh.Sh.medi</string>
		<string>sh.Sh.fina</string>
		<string>t.T.init</string>
		<string>t.T.medi</string>
		<string>t.D.medi</string>
		<string>t.T.fina</string>
		<string>d.T.init</string>
		<string>d.D.init</string>
		<string>d.D.medi</string>
		<string>d.Dd.medi</string>
		<string>d.D.fina</string>
		<string>d.Dd.fina</string>
		<string>ch.Ch.init</string>
		<string>ch.Ch.medi</string>
		<string>ch.Ch.fina</string>
		<string>j.I.isol</string>
		<string>j.I.init</string>
		<string>j.J.medi</string>
		<string>j.J.fina</string>
		<string>y.Y.init</string>
		<string>y.I.init</string>
		<string>y.Y.medi</string>
		<string>y.I.medi</string>
		<string>y.I.fina</string>
		<string>r.R.init</string>
		<string>r.R.medi</string>
		<string>r.R.fina</string>
		<string>w.W.init</string>
		<string>w.W.medi</string>
		<string>w.W.fina</string>
		<string>w.U.fina</string>
		<string>f.F.init</string>
		<string>f.F.medi</string>
		<string>f.F.fina</string>
		<string>k.K.init</string>
		<string>k.K.medi</string>
		<string>k.K.fina</string>
		<string>c.C.init</string>
		<string>c.C.medi</string>
		<string>c.C.fina</string>
		<string>z.Z.init</string>
		<string>z.Z.medi</string>
		<string>z.Z.fina</string>
		<string>hh.Hh.init</string>
		<string>hh.Hh.medi</string>
		<string>hh.Hh.fina</string>
		<string>rh.Rh.init</string>
		<string>rh.Rh.medi</string>
		<string>rh.Rh.fina</string>
		<string>lh.L_Hh.init</string>
		<string>lh.L_Hh.medi</string>
		<string>zr.Zr.init</string>
		<string>cr.Cr.init</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>a.A_A.init</key>
		<string>a_A.init.A</string>
		<key>a.A_A.isol</key>
		<string>a_A.isol.A</string>
		<key>aleph.A.medi</key>
		<string>uni2135.A.medi</string>
		<key>i.A_I.init</key>
		<string>i_I.init.A</string>
		<key>i.A_I.isol</key>
		<string>i_I.isol.A</string>
		<key>i.I_I.medi</key>
		<string>i_I.medi.I</string>
		<key>nirugu</key>
		<string>uni180A</string>
		<key>o.A_O.init</key>
		<string>o_O.init.A</string>
		<key>o.A_O.isol</key>
		<string>o_O.isol.A</string>
		<key>oe.A_O_I.init</key>
		<string>oe_O_I.init.A</string>
		<key>oe.O_I.medi</key>
		<string>oe_I.medi.O</string>
		<key>u.A_O.init</key>
		<string>u_O.init.A</string>
		<key>u.A_O.isol</key>
		<string>u_O.isol.A</string>
		<key>ue.O.fina</key>
		<string>uni1D6B.O.fina</string>
		<key>ue.O.init</key>
		<string>uni1D6B.O.init</string>
		<key>ue.O.medi</key>
		<string>uni1D6B.O.medi</string>
		<key>ue.U.fina</key>
		<string>uni1D6B.U.fina</string>
		<key>ue.U.isol</key>
		<string>uni1D6B.U.isol</string>
		<key>ue.Ue.fina</key>
		<string>uni1D6B.Ue.fina</string>
		<key>ue.Ux.isol</key>
		<string>uni1D6B.Ux.isol</string>
	</dict>
</dict>
</plist>
