<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.mongolbichig</string>
	<key>CFBundleName</key>
	<string>MongolBichig</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Mongol Bichig</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.mongolbichig.mongolbichig</string>
		<key>TISIntendedLanguage</key>
		<string>mn-Mong</string>
	</dict>
</dict>
</plist>
