<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A.fina</key>
	<string>A_.fina.glif</string>
	<key>A.init</key>
	<string>A_.init.glif</string>
	<key>A.isol</key>
	<string>A_.isol.glif</string>
	<key>A.medi</key>
	<string>A_.medi.glif</string>
	<key>Aa.isol</key>
	<string>A_a.isol.glif</string>
	<key>B.fina</key>
	<string>B_.fina.glif</string>
	<key>B.init</key>
	<string>B_.init.glif</string>
	<key>B.medi</key>
	<string>B_.medi.glif</string>
	<key>C.fina</key>
	<string>C_.fina.glif</string>
	<key>C.init</key>
	<string>C_.init.glif</string>
	<key>C.medi</key>
	<string>C_.medi.glif</string>
	<key>Ch.fina</key>
	<string>C_h.fina.glif</string>
	<key>Ch.init</key>
	<string>C_h.init.glif</string>
	<key>Ch.medi</key>
	<string>C_h.medi.glif</string>
	<key>Cr.init</key>
	<string>C_r.init.glif</string>
	<key>D.fina</key>
	<string>D_.fina.glif</string>
	<key>D.init</key>
	<string>D_.init.glif</string>
	<key>D.medi</key>
	<string>D_.medi.glif</string>
	<key>Dd.fina</key>
	<string>D_d.fina.glif</string>
	<key>Dd.medi</key>
	<string>D_d.medi.glif</string>
	<key>F.fina</key>
	<string>F_.fina.glif</string>
	<key>F.init</key>
	<string>F_.init.glif</string>
	<key>F.medi</key>
	<string>F_.medi.glif</string>
	<key>G.fina</key>
	<string>G_.fina.glif</string>
	<key>G.init</key>
	<string>G_.init.glif</string>
	<key>G.medi</key>
	<string>G_.medi.glif</string>
	<key>Gh.fina</key>
	<string>G_h.fina.glif</string>
	<key>Gh.init</key>
	<string>G_h.init.glif</string>
	<key>Gh.medi</key>
	<string>G_h.medi.glif</string>
	<key>Gx.init</key>
	<string>G_x.init.glif</string>
	<key>Gx.medi</key>
	<string>G_x.medi.glif</string>
	<key>H.fina</key>
	<string>H_.fina.glif</string>
	<key>H.init</key>
	<string>H_.init.glif</string>
	<key>H.medi</key>
	<string>H_.medi.glif</string>
	<key>Hh.fina</key>
	<string>H_h.fina.glif</string>
	<key>Hh.init</key>
	<string>H_h.init.glif</string>
	<key>Hh.medi</key>
	<string>H_h.medi.glif</string>
	<key>I.fina</key>
	<string>I_.fina.glif</string>
	<key>I.init</key>
	<string>I_.init.glif</string>
	<key>I.isol</key>
	<string>I_.isol.glif</string>
	<key>I.medi</key>
	<string>I_.medi.glif</string>
	<key>Ix.isol</key>
	<string>I_x.isol.glif</string>
	<key>J.fina</key>
	<string>J_.fina.glif</string>
	<key>J.medi</key>
	<string>J_.medi.glif</string>
	<key>K.fina</key>
	<string>K_.fina.glif</string>
	<key>K.init</key>
	<string>K_.init.glif</string>
	<key>K.medi</key>
	<string>K_.medi.glif</string>
	<key>L.fina</key>
	<string>L_.fina.glif</string>
	<key>L.init</key>
	<string>L_.init.glif</string>
	<key>L.medi</key>
	<string>L_.medi.glif</string>
	<key>M.fina</key>
	<string>M_.fina.glif</string>
	<key>M.init</key>
	<string>M_.init.glif</string>
	<key>M.medi</key>
	<string>M_.medi.glif</string>
	<key>N.fina</key>
	<string>N_.fina.glif</string>
	<key>N.init</key>
	<string>N_.init.glif</string>
	<key>N.medi</key>
	<string>N_.medi.glif</string>
	<key>O.fina</key>
	<string>O_.fina.glif</string>
	<key>O.init</key>
	<string>O_.init.glif</string>
	<key>O.medi</key>
	<string>O_.medi.glif</string>
	<key>P.fina</key>
	<string>P_.fina.glif</string>
	<key>P.init</key>
	<string>P_.init.glif</string>
	<key>P.medi</key>
	<string>P_.medi.glif</string>
	<key>R.fina</key>
	<string>R_.fina.glif</string>
	<key>R.init</key>
	<string>R_.init.glif</string>
	<key>R.medi</key>
	<string>R_.medi.glif</string>
	<key>Rh.fina</key>
	<string>R_h.fina.glif</string>
	<key>Rh.init</key>
	<string>R_h.init.glif</string>
	<key>Rh.medi</key>
	<string>R_h.medi.glif</string>
	<key>S.fina</key>
	<string>S_.fina.glif</string>
	<key>S.init</key>
	<string>S_.init.glif</string>
	<key>S.medi</key>
	<string>S_.medi.glif</string>
	<key>Sh.fina</key>
	<string>S_h.fina.glif</string>
	<key>Sh.init</key>
	<string>S_h.init.glif</string>
	<key>Sh.medi</key>
	<string>S_h.medi.glif</string>
	<key>T.fina</key>
	<string>T_.fina.glif</string>
	<key>T.init</key>
	<string>T_.init.glif</string>
	<key>T.medi</key>
	<string>T_.medi.glif</string>
	<key>U.fina</key>
	<string>U_.fina.glif</string>
	<key>U.isol</key>
	<string>U_.isol.glif</string>
	<key>Ue.fina</key>
	<string>U_e.fina.glif</string>
	<key>Ux.isol</key>
	<string>U_x.isol.glif</string>
	<key>W.fina</key>
	<string>W_.fina.glif</string>
	<key>W.init</key>
	<string>W_.init.glif</string>
	<key>W.medi</key>
	<string>W_.medi.glif</string>
	<key>Y.init</key>
	<string>Y_.init.glif</string>
	<key>Y.medi</key>
	<string>Y_.medi.glif</string>
	<key>Z.fina</key>
	<string>Z_.fina.glif</string>
	<key>Z.init</key>
	<string>Z_.init.glif</string>
	<key>Z.medi</key>
	<string>Z_.medi.glif</string>
	<key>Zr.init</key>
	<string>Z_r.init.glif</string>
	<key>_nil</key>
	<string>_nil.glif</string>
	<key>_nnbsp</key>
	<string>_nnbsp.glif</string>
	<key>a.A.fina</key>
	<string>a.A_.fina.glif</string>
	<key>a.A.init</key>
	<string>a.A_.init.glif</string>
	<key>a.A.isol</key>
	<string>a.A_.isol.glif</string>
	<key>a.A.medi</key>
	<string>a.A_.medi.glif</string>
	<key>a.A_A.init</key>
	<string>a.A__A_.init.glif</string>
	<key>a.A_A.isol</key>
	<string>a.A__A_.isol.glif</string>
	<key>a.Aa.isol</key>
	<string>a.A_a.isol.glif</string>
	<key>aleph.A.medi</key>
	<string>aleph.A_.medi.glif</string>
	<key>b.B.fina</key>
	<string>b.B_.fina.glif</string>
	<key>b.B.init</key>
	<string>b.B_.init.glif</string>
	<key>b.B.medi</key>
	<string>b.B_.medi.glif</string>
	<key>c.C.fina</key>
	<string>c.C_.fina.glif</string>
	<key>c.C.init</key>
	<string>c.C_.init.glif</string>
	<key>c.C.medi</key>
	<string>c.C_.medi.glif</string>
	<key>ch.Ch.fina</key>
	<string>ch.C_h.fina.glif</string>
	<key>ch.Ch.init</key>
	<string>ch.C_h.init.glif</string>
	<key>ch.Ch.medi</key>
	<string>ch.C_h.medi.glif</string>
	<key>cr.Cr.init</key>
	<string>cr.C_r.init.glif</string>
	<key>d.D.fina</key>
	<string>d.D_.fina.glif</string>
	<key>d.D.init</key>
	<string>d.D_.init.glif</string>
	<key>d.D.medi</key>
	<string>d.D_.medi.glif</string>
	<key>d.Dd.fina</key>
	<string>d.D_d.fina.glif</string>
	<key>d.Dd.medi</key>
	<string>d.D_d.medi.glif</string>
	<key>d.T.init</key>
	<string>d.T_.init.glif</string>
	<key>e.A.fina</key>
	<string>e.A_.fina.glif</string>
	<key>e.A.init</key>
	<string>e.A_.init.glif</string>
	<key>e.A.isol</key>
	<string>e.A_.isol.glif</string>
	<key>e.A.medi</key>
	<string>e.A_.medi.glif</string>
	<key>e.Aa.isol</key>
	<string>e.A_a.isol.glif</string>
	<key>eh.A_W.init</key>
	<string>eh.A__W_.init.glif</string>
	<key>eh.A_W.isol</key>
	<string>eh.A__W_.isol.glif</string>
	<key>eh.W.fina</key>
	<string>eh.W_.fina.glif</string>
	<key>eh.W.medi</key>
	<string>eh.W_.medi.glif</string>
	<key>f.F.fina</key>
	<string>f.F_.fina.glif</string>
	<key>f.F.init</key>
	<string>f.F_.init.glif</string>
	<key>f.F.medi</key>
	<string>f.F_.medi.glif</string>
	<key>g.G.fina</key>
	<string>g.G_.fina.glif</string>
	<key>g.G.init</key>
	<string>g.G_.init.glif</string>
	<key>g.G.medi</key>
	<string>g.G_.medi.glif</string>
	<key>g.Gh.fina</key>
	<string>g.G_h.fina.glif</string>
	<key>g.Gh.init</key>
	<string>g.G_h.init.glif</string>
	<key>g.Gh.medi</key>
	<string>g.G_h.medi.glif</string>
	<key>g.H.fina</key>
	<string>g.H_.fina.glif</string>
	<key>g.H.medi</key>
	<string>g.H_.medi.glif</string>
	<key>h.G.init</key>
	<string>h.G_.init.glif</string>
	<key>h.G.medi</key>
	<string>h.G_.medi.glif</string>
	<key>h.Gx.init</key>
	<string>h.G_x.init.glif</string>
	<key>h.Gx.medi</key>
	<string>h.G_x.medi.glif</string>
	<key>h.H.fina</key>
	<string>h.H_.fina.glif</string>
	<key>h.H.init</key>
	<string>h.H_.init.glif</string>
	<key>h.H.medi</key>
	<string>h.H_.medi.glif</string>
	<key>hh.Hh.fina</key>
	<string>hh.H_h.fina.glif</string>
	<key>hh.Hh.init</key>
	<string>hh.H_h.init.glif</string>
	<key>hh.Hh.medi</key>
	<string>hh.H_h.medi.glif</string>
	<key>i.A_I.init</key>
	<string>i.A__I_.init.glif</string>
	<key>i.A_I.isol</key>
	<string>i.A__I_.isol.glif</string>
	<key>i.I.fina</key>
	<string>i.I_.fina.glif</string>
	<key>i.I.init</key>
	<string>i.I_.init.glif</string>
	<key>i.I.isol</key>
	<string>i.I_.isol.glif</string>
	<key>i.I.medi</key>
	<string>i.I_.medi.glif</string>
	<key>i.I_I.medi</key>
	<string>i.I__I_.medi.glif</string>
	<key>i.Ix.isol</key>
	<string>i.I_x.isol.glif</string>
	<key>j.I.init</key>
	<string>j.I_.init.glif</string>
	<key>j.I.isol</key>
	<string>j.I_.isol.glif</string>
	<key>j.J.fina</key>
	<string>j.J_.fina.glif</string>
	<key>j.J.medi</key>
	<string>j.J_.medi.glif</string>
	<key>k.K.fina</key>
	<string>k.K_.fina.glif</string>
	<key>k.K.init</key>
	<string>k.K_.init.glif</string>
	<key>k.K.medi</key>
	<string>k.K_.medi.glif</string>
	<key>l.L.fina</key>
	<string>l.L_.fina.glif</string>
	<key>l.L.init</key>
	<string>l.L_.init.glif</string>
	<key>l.L.medi</key>
	<string>l.L_.medi.glif</string>
	<key>lh.L_Hh.init</key>
	<string>lh.L__H_h.init.glif</string>
	<key>lh.L_Hh.medi</key>
	<string>lh.L__H_h.medi.glif</string>
	<key>m.M.fina</key>
	<string>m.M_.fina.glif</string>
	<key>m.M.init</key>
	<string>m.M_.init.glif</string>
	<key>m.M.medi</key>
	<string>m.M_.medi.glif</string>
	<key>n.A.fina</key>
	<string>n.A_.fina.glif</string>
	<key>n.A.init</key>
	<string>n.A_.init.glif</string>
	<key>n.A.medi</key>
	<string>n.A_.medi.glif</string>
	<key>n.N.fina</key>
	<string>n.N_.fina.glif</string>
	<key>n.N.init</key>
	<string>n.N_.init.glif</string>
	<key>n.N.medi</key>
	<string>n.N_.medi.glif</string>
	<key>ng.A_G.fina</key>
	<string>ng.A__G_.fina.glif</string>
	<key>ng.A_G.medi</key>
	<string>ng.A__G_.medi.glif</string>
	<key>nil</key>
	<string>nil.glif</string>
	<key>nirugu</key>
	<string>nirugu.glif</string>
	<key>o.A_O.init</key>
	<string>o.A__O_.init.glif</string>
	<key>o.A_O.isol</key>
	<string>o.A__O_.isol.glif</string>
	<key>o.O.fina</key>
	<string>o.O_.fina.glif</string>
	<key>o.O.medi</key>
	<string>o.O_.medi.glif</string>
	<key>o.U.fina</key>
	<string>o.U_.fina.glif</string>
	<key>oe.A_O_I.init</key>
	<string>oe.A__O__I_.init.glif</string>
	<key>oe.A_Ue.isol</key>
	<string>oe.A__U_e.isol.glif</string>
	<key>oe.O.fina</key>
	<string>oe.O_.fina.glif</string>
	<key>oe.O.medi</key>
	<string>oe.O_.medi.glif</string>
	<key>oe.O_I.medi</key>
	<string>oe.O__I_.medi.glif</string>
	<key>oe.U.fina</key>
	<string>oe.U_.fina.glif</string>
	<key>oe.Ue.fina</key>
	<string>oe.U_e.fina.glif</string>
	<key>p.P.fina</key>
	<string>p.P_.fina.glif</string>
	<key>p.P.init</key>
	<string>p.P_.init.glif</string>
	<key>p.P.medi</key>
	<string>p.P_.medi.glif</string>
	<key>r.R.fina</key>
	<string>r.R_.fina.glif</string>
	<key>r.R.init</key>
	<string>r.R_.init.glif</string>
	<key>r.R.medi</key>
	<string>r.R_.medi.glif</string>
	<key>rh.Rh.fina</key>
	<string>rh.R_h.fina.glif</string>
	<key>rh.Rh.init</key>
	<string>rh.R_h.init.glif</string>
	<key>rh.Rh.medi</key>
	<string>rh.R_h.medi.glif</string>
	<key>s.S.fina</key>
	<string>s.S_.fina.glif</string>
	<key>s.S.init</key>
	<string>s.S_.init.glif</string>
	<key>s.S.medi</key>
	<string>s.S_.medi.glif</string>
	<key>sh.Sh.fina</key>
	<string>sh.S_h.fina.glif</string>
	<key>sh.Sh.init</key>
	<string>sh.S_h.init.glif</string>
	<key>sh.Sh.medi</key>
	<string>sh.S_h.medi.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t.D.medi</key>
	<string>t.D_.medi.glif</string>
	<key>t.T.fina</key>
	<string>t.T_.fina.glif</string>
	<key>t.T.init</key>
	<string>t.T_.init.glif</string>
	<key>t.T.medi</key>
	<string>t.T_.medi.glif</string>
	<key>u.A_O.init</key>
	<string>u.A__O_.init.glif</string>
	<key>u.A_O.isol</key>
	<string>u.A__O_.isol.glif</string>
	<key>u.O.fina</key>
	<string>u.O_.fina.glif</string>
	<key>u.O.init</key>
	<string>u.O_.init.glif</string>
	<key>u.O.medi</key>
	<string>u.O_.medi.glif</string>
	<key>u.U.fina</key>
	<string>u.U_.fina.glif</string>
	<key>u.U.isol</key>
	<string>u.U_.isol.glif</string>
	<key>u.Ux.isol</key>
	<string>u.U_x.isol.glif</string>
	<key>ue.A_O_I.init</key>
	<string>ue.A__O__I_.init.glif</string>
	<key>ue.A_U.isol</key>
	<string>ue.A__U_.isol.glif</string>
	<key>ue.A_Ue.isol</key>
	<string>ue.A__U_e.isol.glif</string>
	<key>ue.O.fina</key>
	<string>ue.O_.fina.glif</string>
	<key>ue.O.init</key>
	<string>ue.O_.init.glif</string>
	<key>ue.O.medi</key>
	<string>ue.O_.medi.glif</string>
	<key>ue.O_I.medi</key>
	<string>ue.O__I_.medi.glif</string>
	<key>ue.U.fina</key>
	<string>ue.U_.fina.glif</string>
	<key>ue.U.isol</key>
	<string>ue.U_.isol.glif</string>
	<key>ue.Ue.fina</key>
	<string>ue.U_e.fina.glif</string>
	<key>ue.Ux.isol</key>
	<string>ue.U_x.isol.glif</string>
	<key>w.U.fina</key>
	<string>w.U_.fina.glif</string>
	<key>w.W.fina</key>
	<string>w.W_.fina.glif</string>
	<key>w.W.init</key>
	<string>w.W_.init.glif</string>
	<key>w.W.medi</key>
	<string>w.W_.medi.glif</string>
	<key>y.I.fina</key>
	<string>y.I_.fina.glif</string>
	<key>y.I.init</key>
	<string>y.I_.init.glif</string>
	<key>y.I.medi</key>
	<string>y.I_.medi.glif</string>
	<key>y.Y.init</key>
	<string>y.Y_.init.glif</string>
	<key>y.Y.medi</key>
	<string>y.Y_.medi.glif</string>
	<key>z.Z.fina</key>
	<string>z.Z_.fina.glif</string>
	<key>z.Z.init</key>
	<string>z.Z_.init.glif</string>
	<key>z.Z.medi</key>
	<string>z.Z_.medi.glif</string>
	<key>zr.Zr.init</key>
	<string>zr.Z_r.init.glif</string>
</dict>
</plist>
